
body{
    background-color: white;
    font-size: large
}

ol, p{
    font-size: large
}

h1{
    font-size: 2em;
}

a:link{
  text-decoration: none;
  color: blue;
}

/*----------------------------------------------------------------------------*/

header{
    padding: .5em;
    clear: left;
    text-align: center;
    background-color: black;
    color: white;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

article{
    margin-left: 30%;
    margin-right: 30%;
    padding: 1em;
    overflow: hidden;
}

footer{
    padding: 1em;
    clear: left;
    text-align: center;
}

/*----------------------------------------------------------------------------*/

#container{
    position: fixed;
    top: 10%;
/*    height: 80%;*/
    height: 1000px;
    left: 28%;
    width: 40%;
    background-color: white;
}

#copyright {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*----------------------------------------------------------------------------*/
