
body{
    background-color: white;
    font-size: large;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.6;
}

a:link{
    text-decoration: none;
    color: blue;
}

a:hover{
    text-decoration: underline;
}

/*Nested list counter*/
ol{
    counter-reset: item;
}
ol li {
    display: block;
}
ol li:before{
    content: counters(item, ".") ". ";
    counter-increment: item;
}


/*Table*/
table, th, td {
    border: 1px solid black;
/*    border-collapse: collapse;*/
}
th, td {
    padding: 2px;
    text-align: center;
}


table#refs {
    border: none;
}

table#refs td {
    border: none;
    text-align: left;
    vertical-align: top;
}
/*----------------------------------------------------------------------------*/

header{
    padding: .3em;
    clear: left;
    text-align: center;
    background-color: black;
}

article{
    width: 768px;
    margin: auto;
    padding: 1em;
    overflow: hidden;
    text-align: justify
}

footer{
    padding: 1em;
    clear: left;
    text-align: center;
}
